.translateButton {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--ifm-navbar-link-color); /* Use Docusaurus navbar link color */
  padding: 0 0.5rem;
  font-size: 1rem;
}

.translateButton:hover {
  color: var(--ifm-navbar-link-hover-color);
}
